<!DOCTYPE html>

<html lang="en">
<head>
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a href="/" class="btn btn-ghost text-xl">Veez</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a>About</a></li>
                <li>
                    <details>
                        <summary>Categories</summary>
                        <ul class="bg-base-100 rounded-t-none p-2">
                            <li><a href="/media?category=anime">Anime</a></li>
                            <li><a href="/media?category=manga">Manga</a></li>
                            <li><a href="/media?category=manhwa">Manhwa</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>