<!DOCTYPE html>

<html data-theme="autumn">
    <head>
        <title>Veez</title>

        <link rel="stylesheet" href="/css/main.css" />
    </head>

    <body>
        <div class="container mx-auto my-10">
            <div class="hero bg-base-200 min-h-64 rounded-lg">
                <div class="hero-content text-center w-full">
                    <div class="max-w-xl">
                        <h1 class="text-6xl text-base-content font-bold">Manga</h1>
                        <p class="pt-6 text-base-content">Explore my favorite fictional work and browse a collection of stories I love.</p>
                        <p class="pb-4 text-base-content">Select a category below to get started.</p>
                        <a href="/manga" class="btn btn-primary">Manga</a>
                        <a href="/anime" class="btn btn-primary">Anime</a>
                        <a href="/manhwa" class="btn btn-primary">Manhwa</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="prose container mx-auto my-10">
            <h1>Welcome to Manga page</h1>
            <p>Browse a collection of my favorite media.</p>

            <p>First manga name: <%= mangas.title.english %></p>
            <p>Manga image:</p>
            <img src="<%= mangas.coverImage.large %>">
        </div>
    </body>
</html>