<html>
    <head>
        <title>Veez</title>
    </head>

    <body>
        <h1>Welcome to Manga page</h1>
        <p>Browse a collection of my favorite media.</p>

        <p>First manga name: <%= mangas.title.english %></p>
    </body>
</html>